@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/pagination";

/* swiper */

.mySwiper .swiper-pagination {
  @apply mt-10 relative;
}

.mySwiper .swiper-pagination-bullet {
  @apply: bg-[#ccc]   rounded-full cursor-pointer;
}

.mySwiper .swiper-pagination-bullet-active {
  @apply bg-[#f9700e];
}

@keyframes popup {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.popup-animation {
  animation: popup 1.2s ease-in-out infinite;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/gilroy-font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-body: "Gilroy", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
    /* primary */
    --primary: #f9700e;
    /* secondary */
    --secondary: #606060;
    --max-width: 1400px;
    /* swiper */
    --blue: #011166;
    /* black */
    --black: #000000;
    /* white */
    --white: #000000;
    --background: #ffffff;
    /* background-color */
    /* --background: linear-gradient(
    131deg,
    rgba(255, 255, 255, 1) 3%,
    rgba(4, 9, 30, 1) 11%
  ); */
    /* form */
    --gray: #5c5c5c;
}

@layer base {
  body {
    font-family: var(--font-body);
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @layer base {
    h1,
    h2,
    h3,
    p,
    ul li {
      font-family: "Gilroy", sans-serif;
      letter-spacing: 0.00001px;
      font-feature-settings: "liga" 0, "clig" 0;
      font-variant-ligatures: none;
    }
  }

  .title > span {
    font-family: "gilroy";
    font-weight: bold;
    color: var(--white);
  }

  .title {
    color: var(--primary);
    @apply text-4xl mb-5 font-bold;
    font-family: gilory;
  }

  .span {
    color: var(--white);
    @apply text-4xl mb-5 font-bold;
  }

  .subTitle {
    color: var(--white);
    @apply text-2xl mb-2 font-bold;
  }

  p {
    color: var(--white);
    @apply text-base font-normal leading-7;
  }

  .ul li {
    color: var(--white);
    @apply text-base font-normal leading-7;
  }

  .max-width {
    max-width: var(--max-width);
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .width {
    width: 80%;
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
  }

  .margin {
    @apply my-10 md:my-20 lg:my-24;
  }

  .padding {
    @apply py-5 sm:py-10;
  }

  .btnLink {
    background: var(--primary);
    @apply px-5 py-2 rounded-full text-black mt-2 block w-fit font-medium;
  }

  /* height  */
  .fullHeight {
    @apply min-h-[100vh];
  }

  .goog-te-banner-frame.skiptranslate,
  body > .skiptranslate {
    display: none !important;
  }
  body {
    top: 0px !important;
  }

  .swiper-slide-active > section {
    background-color: var(--primary) !important;
    color: var(--white) !important;
  }

  @media (max-width: 650px) {
    .mobile_full_width {
      width: 100% !important;
    }

    .title {
      @apply text-2xl mb-0;
    }

    p {
      color: var(--white);
      @apply text-sm font-medium leading-7;
    }

    .padding {
      @apply my-0 md:my-0 lg:my-4;
    }
  }

  /* // paddingLeft  */
  .layoutPadding {
    padding-left: 5%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important; /* Explicitly set background-color */
  -webkit-text-fill-color: var(--white) !important;
  caret-color: var(--white) !important;
  transition: background-color 0s ease-in-out 99999s; /* Long delay to keep it transparent */
}
@media (min-width: 40rem) {
    .sm\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (min-width: 40rem) {
    .sm\:gap-10 {
        gap: calc(var(--spacing) * 10);
    }
  }